name: Deploy API Docs

on:
  # Run workflow after PR is closed.
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - 'docs/**'
      - 'examples/**'
  # If conflict or errors occured, can retry build manually.
  workflow_dispatch:

jobs:
  build:
    name: build docusarus
    runs-on: ubuntu-latest
    env:
      base_branch: ${{ github.head_ref || github.ref_name }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.base_branch }}
      # Setup Node
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      # Setup Yarn
      - name: Setup Yarn
        run: npm install -g yarn
      # Setup Node with yarn cache
      - name: Setup Yarn Cache
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: yarn.lock
      # Setup yarn dependencies
      - name: Setup Yarn Dependencies
        run: yarn
      # Generate, build, and copy to files/build for deployment
      - run: yarn deploy-go
      # Add, commit, and PR build folder ignoring .gitignore based on date and source branch
      - name: Set Build Branch Name
        id: param
        run: |
          echo "current_date=$(TZ=Asia/Jakarta date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
          echo "title=[Client] Update Docusaurus Build from ${{ env.base_branch }}" >> $GITHUB_OUTPUT
          echo "build_branch=docusaurus-build-$(date +'%Y-%m-%d')-${{ env.base_branch }}" >> $GITHUB_OUTPUT
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Create Commits for Build Only
        run: |
          git config user.name '${{ github.actor }}'
          git config user.email '${{ github.actor }}@users.noreply.github.com'
          git add -f files/build
          git checkout .
          git commit -m '${{ steps.param.outputs.title }}'
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          branch: ${{ steps.param.outputs.build_branch }}
          base: main
          title: '${{ steps.param.outputs.title }}'
          body: |
            Source Branch: [${{ env.base_branch }}](${{ github.event.repository.html_url }}/tree/${{ env.base_branch }})
            Source PR: ${{ github.event.pull_request && format('[{0}]({1})', github.event.pull_request.title, github.event.pull_request.html_url) || 'Triggered manually' }}
            Triggered By: ${{ github.actor }}
            Created At: ${{ steps.param.outputs.current_date }}


